#Home .TaskFrame{
    background-color: #333;
    margin: 30px 10vw;
    padding: 30px 50px;
    color: white;
    border-radius: 20px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    min-width: fit-content;
}
#Home #Title{
    font-size: 30px;
    letter-spacing: 1px;
}
#Home #Status{
    font-size: 20px;
    letter-spacing: 1px;
    color: #999;
}
#Home .dueDate{
    margin: 10px;
    font-size: 20px;
}
#Home .Cross{
    float: right;
    position: relative;
    right: 10.5vw;
    top: 1vh;   
}
.TimeStamp{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width: 700px) {
    #Home #Title{
        font-size: 25px;
    }
    #Home #Status{
        font-size: 20px;
    }
    #Home .dueDate{
        font-size: 20px;
    }
    #Home .TaskFrame{
        margin: 30px 10vw;
        padding: 30px 50px;
    }
    #Home .Cross{
        right: 11.5vw;
        top: 0.5vh;   
    }
  }
  #Home #noTasks{
    text-align: center;
    font-size: 34px;
  }
  @media screen and (max-width: 650px) {
    #Home .TaskFrame{
        display: flex;
        flex-direction: column;
        
    }
  }