.navbar{
    background-color: #0000004e !important;
    padding: 0px;
    display: flex;
    backdrop-filter: blur(100px);
    flex-direction: row;
}
#logo{
    margin: 0px 15px;
}
#toDo{
    color: #444;
}
#FaUserAlt{
    margin: auto 10px;
}
#main-heading{
    padding: 0px 20px;
    font-size: 35px;
    font-weight:500;
}
#profile{
    padding: 10px;
    margin-right:30px;
    cursor: pointer;
}
#options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#notifications{
    padding: 10px;
    margin: 17px 0px;
    font-size: 10px;
    color: white;
    width: 12rem;
    background-color: #222;
}
#notifications #textlog{
    background-color: #555;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
#notifications #textlog:hover{
    background-color: black;
    color: white;
}
#logout{
    text-align: center;
}
#logout:hover{
    background-color: #555;
    color: white;
}

#logout:active{
    box-shadow: 0 3px 3px #66666654;
    transform: translateY(1px);
}

.navIcon{
    padding: 0px 10px;
}

@media screen and (max-width: 450px) {
    .Name{
        display: none;
    }
    #notifications{
        position:fixed;
        left:50vw;
        margin: 2px 0px;
    }
}